/* Genéral*/

h1 {
    font-size: 22px;
}

p {
    font-size: 14px;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.title-footer {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.flex-space-betw {
    display: flex;
    justify-content: space-between;
}

/* Header */

.logo {
    height: 19px;
    margin: 30px 0;
}

nav {
    display: flex;
}

.ancre {
    margin: 0px 27px;
    padding: 24px 0;
    border: none;
}

.ancre:hover {
    border-top: 2px #0065FC solid;
    color: #0065FC;
}

/* Partie infogroup 
Formulaire de recherche */

.searchbar {
    display: flex;
    margin: 30px 0;
}

.marker {
    height: 50px;
    border: none;
    border-radius: 15px 0 0 15px;
    padding: 0 20px;
    background-color:  #f2f2f2;
}

input {
    font-weight: bold;
    padding: 15px;
    appearance: none;
    border: none;
    border-bottom: 1px #f2f2f2 solid;
    border-top: 1px #f2f2f2 solid;
    outline: none;
}

.rechercher{
    color :#f2f2f2;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    padding: 15px;
    border: none; 
    font-weight: bold
}

/* On cache la loupe en desktop pour l'afficher en téléphone */
.rechercher i {
    display: none;
}

/* Ajout style aux cliquables pour plus de réalisme */
.marker:hover,
button.rechercher:hover {
    opacity: 0.65;
}

.card:hover {
    background-color: #d9d9d9;
}

/*Partie filtres*/

.filtres {
    display: flex;
    align-items: center;
}

.filtres a  {
    font-weight: bold;
    border-radius: 30px;
    border: 2px #d9d9d9 solid;
    background-color: transparent;
    display: inline;
    align-content: center;
    margin-left: 10px;
    padding: 10px
}

.filtres i {
    padding:0 10px;
}

.filtres a:hover {
    background-color: #DEEBFF;
}


/* Partie information */

.info i {
    border: 1px #d9d9d9 solid;
    border-radius: 100%;
    padding: 5px 10px;
    margin-right: 10px;
}

.info {
    margin : 20px 0;
}

/* Main-container */

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* Général cards */

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Général hebergements-and-populaires **/

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/* Hebergements */
.hebergements {
    width: 65%; 
    flex-direction: column;
}


.hebergements h1 {
    margin: 0;
}
/* Cards hebergements*/
.card-hebergement  {
    width: 30%;
}

.card-hebergement img {
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.card-hebergement .card {
    display: grid;
    height: 197px;
    grid-template-rows: 50% 50%;
}

.hebergements .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-hebergement .card-content .card-title,
.card-hebergement .card-content .card-subtitle,
.card-content .card-rating {
    margin: 0 0 0 5px ;
}
/* Populaires */
.populaires {
    width: 32%;
}

.populaires-title {
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    flex-direction: column;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités */

.activites {
    width: 100%;
}

.activites h2 {
    margin: 50px 10px 30px ;
}
.activites h3 {
    font-size: 16px;
    padding-left: 15px; 
    height: 30px;
}

.grille-activite {
    display: flex;
}

.card h2 {
    margin-left: 10px;
}

.grille-activite .card {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 10px ;
}

.grille-activite img {
    border-radius: 15px 15px 0 0;
    height: 380px;
    width: 100%;
}

/* Footer */

footer {
    background-color: var(--main-bg-color);
    padding: 0 20px;
    margin-top: 30px;
}

footer div {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
footer a {
    margin: 5px 0;
}

footer h2 {
    margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filtres {
        display: grid;
    }

    
    .hebergements-and-populaires {
        flex-direction: column;
    }
    
    .hebergements {
        width: 100%;
        height: 612px;
    }
    
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .populaires-cards a {
        width: 30%;
    }
    
    .populaires-cards .card-title {
        font-size: 14px;
    }
    
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
    .grille-activite img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    /* Général */
    .main-container{
        padding: 0;
        display: flex;
        flex-direction: column;
    }   
   
    main {
        align-items: center;
        padding: 0;
    }
    
    /** Header **/
    
    header {
        flex-direction: column ;
        align-items: center;
    }
    
    header nav {
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }
    
    .ancre {
        border-bottom: 2px #F2F2F2 solid;
        margin: 0;
        text-align: center;
        width: 50%;
    }
    
    .ancre:hover {
        border-top: none;
        border-bottom: 2px #0065FC solid;
        color: #0065FC;
    }
    /* Général infogroup */
     .infogroup {
       padding: 0 10px ;
    }

    /* Formulaire */
    
    .rechercher span {
        display: none;
    }
    
    .rechercher i {
        display:flex;
        color: white;
    }
    
    .rechercher {
        border-radius: 15px;
        box-shadow: (0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    
    #ville {
        width: 90%;
    }

    /* Filtres */

    .liens-filtres {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 15px;
    }
    
    
    #grid1 {
        grid-column: 1 / 3;
        margin: 0px;
        width: 10px;
        text-align: center;
    }
    
    .filtres a {
        justify-content: flex-start; 
        padding: 9px 5px;
    }
    
    /* Hebergements */
    
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        width: 100%;
    }
    
    .hebergements {
        width: 100%;
        height: auto;
        background-color: white !important;
        display: flex;
        flex-direction: column;
    }

    .hebergements * {
        margin-top: 10px;
    }
    .card-hebergement {
        width: 100%;
    }
    
    .card-hebergement img {
        margin: 0;
    }
    .premierelignehebergement,
    .deuxiemelignehebergement {
        flex-direction: column;
    }
    .populaires {
        width: 100%;
        border-radius: 0 !important;
        margin-top: 0;
    }
    
    .populaires-cards {
        flex-direction: column;
    }
    
    .populaires-cards a {
        width: 100%;
    }
    
    .grille-activite {
        flex-direction: column;
        align-items: center;
    }
    
    .grille-activite .card {
        width: 90%;
        margin: 10px 0;
    }

    /* Footer */ 
    
    footer {
        flex-direction: column;
    }
    
    footer div {
        width: 100%;
    }
}